.footer {
  background-image: url("https://images.pexels.com/photos/1643113/pexels-photo-1643113.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  mask: rgba(31, 176, 202, 0.445);
  border-radius: 20px;
  width: 100vw;
  min-width: fit-content;
  height: 100px;
  align-items: center;
  color: beige;
  position: relative;
}
p {
  text-align: center;
  margin: auto;
  padding: 40px;
  font-weight: 900;
  font-size: larger;
  text-decoration: underline;
}
