body {
  background-color: #e4e4e1;
  background-image: radial-gradient(
      at top center,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(0, 0, 0, 0.03) 100%
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(143, 152, 157, 0.6) 100%
    );
  background-blend-mode: normal, multiply;
}
h1 {
  align-items: center;
  font-weight: 900;
  font-size: 3rem;
  color: #09223b;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-image: radial-gradient(
    circle 1224px at 10.6% 8.8%,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 202, 251, 1) 100.2%
  );
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
.form__label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
.addQuote {
  margin-top: 10px;
  align-items: center;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(7, 121, 222, 1) 0%,
    rgba(20, 72, 140, 1) 90%
  );
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #e4e4e1;
  cursor: pointer;
  display: inline-flex;
  height: 50px;
  width: 250px;
  max-width: 480px;
  min-height: 30px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
}
.allVotes {
  align-items: center;
  background-color: #e9da12;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  height: 100px;
  width: 150px;
  max-width: 480px;
  min-height: 30px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
}
.votes {
  margin-right: 10px;
  margin-left: 10px;
  color: cadetblue;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  font-size: medium;
  font-weight: 500;
}
.quote {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 15px;
  border-bottom: 1px solid #4d0e58;
}

.content {
  justify-content: center;
  min-width: 90%;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  vertical-align: middle;
}
.author {
  font-style: italic;
  font-weight: 100;
}

.delete {
  align-items: center;
  background-image: radial-gradient(
    circle farthest-corner at 50.4% 50.5%,
    rgba(251, 32, 86, 1) 0%,
    rgba(135, 2, 35, 1) 90%
  );
  margin-top: 50%;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  width: 150px;
  height: 60px;
  max-width: 480px;
  min-height: 30px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
}
