<header>
  <h1>Quote of the day!!</h1>
</header>

<div class="inputField">
  <input
    placeholder="Enter your quote here..."
    class="form__input"
    type="text"
    [(ngModel)]="InputQuote"
  />
  <input
    placeholder="By..."
    class="form__input"
    type="text"
    [(ngModel)]="InputAuthor"
  />
  <input
    type="submit"
    value="Add Quote"
    (click)="addQuote()"
    (click)="timeStamp()"
    [disabled]="InputQuote === '' || InputAuthor === ''"
    class="addQuote"
  />
</div>

<section>
  <div *ngFor="let quote of quotes">
    <div class="quotes">
      <div class="quote">
        <div class="votes">
          <app-votes></app-votes>
        </div>
        <div class="content">
          <div>{{ quote.quote }}</div>
          <div class="author">by: {{ quote.author }}</div>
          <div class="author">On: {{ timeCreated | date: "medium" }}</div>
        </div>

        <span>
          <button class="delete" (click)="removeQuote(quote.id)">
            Delete Quote
          </button>
        </span>
      </div>
    </div>
  </div>
</section>
